<!DOCTYPE html>
<html>
	<head>
	  <meta charset=utf-8 />
	  <title> {% if page.title %} {{ page.title }} | {% endif %} M+ Blog </title>

	  <link rel="stylesheet" href="/css/styles.css" />
	  <link rel="stylesheet" href="/css/skeleton/base.css">
	  <link rel="stylesheet" href="/css/skeleton/skeleton.css">
	  <link rel="stylesheet" href="/css/skeleton/layout.css">
	  <link rel="stylesheet" href="/css/main.css">
	  <link rel="stylesheet" href="/css/docco.css">
	  <link rel="stylesheet" href="/css/styles/googlecode.min.css">
	</head>
	<body>
	<div class="container">
		{{ content }}
	</div>

	</body>
</html>
